* text=auto eol=lf

*.cs text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.manifest text eol=lf
*.txt text eol=lf

*.exe binary
*.ico binary
*.png binary
*.zip binary
*.7z binary
*.onnx binary
